@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  background: black;
  color: white;
  font-family: var(--font-belleza), sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}